<div class="d-flex flex-column justify-content-center align-items-center tabela">

  <h2 class="my-5">Lista de Containers</h2>
  <table class="table w-75">
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Número</th>
        <th>Tipo</th>
        <th>Status</th>
        <th>Categoria</th>
        <th>Movimentação</th>
        <th>Data Inicio</th>
        <th>Data Fim</th>
        <th rowspan="2"></th>
      </tr>
    </thead>

    <tbody *ngFor="let item of container">
      <tr>
        <td> {{ item.cliente }} </td>
        <td> {{ item.numeroContainer }} </td>
        <td> {{ item.tipo }} </td>
        <td> {{ item.status }} </td>
        <td> {{ item.categoria }} </td>
        <td> {{ item.movimentacao }} </td>
        <td> {{ item.dataInicio}} </td>
        <td> {{ item.dataFim }} </td>
        <td><button type="button" class="btn btn-success" (click)="onEdit(item)">Editar</button></td>
        <td><button type="button" class="btn btn-danger" (click)="onDelete(item.id)">Excluir</button></td>
      </tr>
    </tbody>
  </table>

</div>

<div class="my-5 relatorios d-flex flex-column align-items-center justify-content-center">

  <h3>Relatório Total de Exportações e Importações</h3>


  <div class="">

    <h4>Total exportações : {{ TotalExportacoes }} </h4>
    <h4>Total importações : {{ TotalImportacoes }} </h4>

  </div>
</div>
